* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  position: relative;
}

video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  top: 0;
  position: absolute;
}

svg {
  position: absolute;
}

.back {
  fill: #fff;
}
